
Budget/.vs/Budget/v16/

Budget/Budget/Budget.Android/bin/Debug/

Budget/Budget/Budget.Android/obj/.cache/

Budget/Budget/Budget.Android/obj/

Budget/Budget/Budget.iOS/bin/iPhoneSimulator/Debug/

Budget/Budget/Budget.iOS/obj/

Budget/Budget/Budget/bin/Debug/netstandard2.0/

Budget/Budget/Budget/obj/
